<%- include('./partials/head.ejs') %>
<body id="included" style="background: var(--color-four);">
<!-- <body id="included" style="background: linear-gradient(to right, var(--color-background-one), var(--color-background-two), var(--color-background-three), var(--color-background-four));"> -->
<%- include('./partials/header.ejs') %>

<div class="container included">
    <div class="bubble bubble-included">
        <p class="included-title">
            Every <span>Website4You</span> Includes
        </p>
        <div class="text-left ml-3">
            <ul>
                <li>Works on computer, tablet, or other devices.</li>
                <li>Personalized domain name, with 2 years of FREE hosting.</li>
                <li>Private dedicated database.</li>
                <li>Easy access how-to videos.</li>
                <li>Password protected so only you can add, edit, or delete content.</li>
            </ul>
            <p class="home-page section">
                <span class="included-title-intro">Home Page... <a class="check-it" href="/home">(check it out)</a></a>
            </p>
            <ul class="ml-5">
                <li>Preferred color theme... <a class="see-more" href="/options">(see options)</a></li>
                <li>Your name or title of choice.</li>
                <li>Preferred font style... <a class="see-more" href="/options#font-styles">(see fonts)</a></li>
                <li>Up to eight (8) different biographical descriptions.</a></li>
                <li>Placement of you personal photograph or other image.</li>
                <li>Instant access to your email and social media accounts.</li>
            </ul>
            <p class="photo-page section">
                <span class="included-title-intro">Photo Gallery... <a class="check-it" href="/photos">(check it out)</a>
            </p>
            <ul class="ml-5">
                <li>Area to show all of you photos.</li>
                <li>Can be viewed by album or in its entirety.</li>
                <li>Each individual photo may be viewed separately.</li>
                <li>You assign a title and description for each photo.</li>
                <li>Easy drag & drop image uploading from the files already on your computer or device.</li>
                <li>You name and create the albums to keep the photos organized as you please.</li>
            </ul>
            <p class="story-page section">
                <span class="included-title-intro">My Stories (Blog)... <a class="check-it" href="/articles">(check it out)</a>
            </p>
            <ul class="ml-5">
                <li>Title, describe, and compose each of your stories in an easy to use form.</li>
                <li>Automatic dating of all entries with most recent always on top.</li>
                <li>Your guests may peruse your titles by topic or in their entirety.</li>
                <li>For easy reading, a single story or entry will appear once that title is chosen.</li>
                <li>You create the topics to keep your entries organized as you please.</li>
            </ul>
        </div>
        <div class="price-box">
            <p class="price">All of this, plus more, for an introductory price of</p>
            <p class="price price2">$400 <span class="value">($2654.00 value)</span></p>
            <p class="purchase">Click the Contact Us button below if you have any other questions,
                <br> 
                or Purchase on Etsy if you are ready to purchase!</p>
        </div>
        <div class="text-center mb-3">
            <a class="btn btn-primary watch m-3 px-3" href="/included">What's Included</a>
            <a class="btn btn-primary watch m-3 px-3" href="/vidPresentation">Watch a Video Presentation</a>
            <a class="btn btn-primary watch m-3 px-3" href="https://www.etsy.com/shop/Website4You">Purchase on Etsy</a>
            <a class="btn btn-primary watch m-3 px-3" href="mailto:lauri@lovelywebdesigns.com?
            subject=Contact">Contact Us</a>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="row pt-sm-3 text-center">
        <div class="col-sm-5 mb-0 text-center">
            <p class="mb-0">© Website4You, 2020-2021, All Rights Reserved</p>
        </div>
        <div class="col-sm-2  icons">
            <a class="email" href="mailto:lauri@lovelywebdesigns.com?
                      subject=Contact">
                      <i class="fas fa-envelope-square"></i></a>
            <a class="facebook" href="https://www.facebook.com/Website4You-107815444467526"><i class="fab fa-facebook"></i></a>
            <a class="instagram" href="https://www.instagram.com/website4you.site/"><i class="fab fa-instagram"></i></a>
            <a class="etsy" href="https://www.etsy.com/shop/Website4You"><i class="fab fa-etsy"></i></a>
        </div>
        <div class="col-sm-5 text-center">
            <p class="lovely">Website designed and produced by <a href="http://lovelywebdesigns.com/">LovelywebDesigns</a></p>
        </div>
    </div>

</footer>


    <%- include('./partials/footer.ejs') %>
