<%- include('./partials/head.ejs') %>
<body id="index" style="background: var(--color-four);">
<!-- <body id="index" style="background: linear-gradient(to right, var(--color-background-one), var(--color-background-two), var(--color-background-three), var(--color-background-four));"> -->
<!-- <body id="index" style="background: linear-gradient(to right, var(--color-background-one), var(--color-background-four));"> -->
<%- include('./partials/header.ejs') %>

<div class="container index">
    <div class="row">
        <div class="col-lg-9">
            <div class="bubble">
                <p class="bubble-intro bubble-intro-one"><span class="lovely-index">Lovely</span><span class="web-index"> web</span><span class="designs-index">Designs  </span> is pleased to present <span>Website4You</span>
                </p>
                <br>
                <p class="bubble-intro"><span class="opening">Finally available</span>, your own personal website. Simple to use, reasonably priced, and ready for the easy upload of all your photos, old and new.
                    Plus, record your thoughts, memories and stories to share with family and friends.
                </p>
                <div class="text-left">
                    <p class="seniors">
                        <span class="uses-title-intro">Seniors - </span> Create your legacy by posting photos, both old and new, then record... <a class="see-more" href="/uses">(see more)</a>
                    </p>
                    <p class="parents">
                        <span class="uses-title-intro">Parents - </span> Track your child's growth. Each of your children can have a unique... <a class="see-more" href="/uses">(see more)</a>
                    </p>
                    <p class="students">
                        <span class="uses-title-intro">Students - </span> Show the world your achievements and accomplishments! Add... <a class="see-more" href="/uses">(see more)</a>
                    </p>
                    <p class="travellers">
                        <span class="uses-title-intro">Travelers - </span> Share your adventures with the world with both photos and words... <a class="see-more" href="/uses">(see more)</a>
                    </p>
                    <p class="artists">
                        <span class="uses-title-intro">Artists - </span> Make all of our lives more beautiful when you share your masterpieces... <a class="see-more" href="/uses">(see more)</a>
                    </p>
                    <p class="groups">
                        <span class="uses-title-intro">Groups - </span> Comradery will abound when your group can share memories... <a class="see-more" href="/uses">(see more)</a>
                    </p>
                    <p class="memorial">
                        <span class="uses-title-intro">For Those who have Lost a Loved One - </span> Memorialize that special person... <a class="see-more" href="/uses">(see more)</a>
                    </p>
                </div>
                <div class="text-center">
                    <a class="btn btn-primary watch m-3 px-3" href="/included">What's Included</a>
                    <a class="btn btn-primary watch m-3 px-3" href="/vidPresentation">Video Presentation</a>
                    <a class="btn btn-primary watch m-3 px-3" href="https://www.etsy.com/shop/Website4You">Purchase on Etsy</a>
                    <a class="btn btn-primary watch m-3 px-3" href="mailto:lauri@lovelywebdesigns.com?
                    subject=Contact">Contact Us</a>
                </div>
            </div>
            <div class="pointer"></div>
        </div>
        <div class="col-lg-3 image-index">
            <img class="img-fluid" id="memoji-index" src="/images/memoji-trans.png" alt="">
        </div>
    </div>
</div>

<footer class="footer">
    <div class="row pt-sm-3 text-center">
        <div class="col-sm-5 mb-0 text-center">
            <p class="mb-0">© Website4You, 2020-2021, All Rights Reserved</p>
        </div>
        <div class="col-sm-2  icons text-center">
            <a class="email" href="mailto:lauri@lovelywebdesigns.com?
                      subject=Contact">
                      <i class="fas fa-envelope-square"></i></a>
            <a class="facebook" href="https://www.facebook.com/Website4You-107815444467526"><i class="fab fa-facebook px-3"></i></a>
            <a class="instagram" href="https://www.instagram.com/website4you.site/"><i class="fab fa-instagram"></i></a>
            <a class="etsy" href="https://www.etsy.com/shop/Website4You"><i class="fab fa-etsy"></i></a>
        </div>
        <div class="col-sm-5 text-center">
            <p class="lovely">Website designed and produced by <a href="http://lovelywebdesigns.com/">LovelywebDesigns</a></p>
        </div>
    </div>

</footer>


    <%- include('./partials/footer.ejs') %>
