<%- include('./partials/head.ejs') %>
<body id="bubble-options" style="background: linear-gradient(to right, var(--color-background-one), var(--color-background-two), var(--color-background-three), var(--color-background-four));">
<%- include('./partials/header.ejs') %>

<div class="container options">
    <div class="bubble bubble-options">
        <div class="row">
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/color_choice_1.png" class="card-img-top" alt="color choice 1">
                    <div class="card-body">
                        <h5 class="card-title">Color Choice #1</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/color_choice_2.png" class="card-img-top" alt="color choice 2">
                    <div class="card-body">
                        <h5 class="card-title">Color Choice #2</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/color_choice_3.png" class="card-img-top" alt="color choice 3">
                    <div class="card-body">
                        <h5 class="card-title">Color Choice #3</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/color_choice_4.png" class="card-img-top" alt="color choice 4">
                    <div class="card-body">
                        <h5 class="card-title">Color Choice #4</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/color_choice_5.png" class="card-img-top" alt="color choice 5">
                    <div class="card-body">
                        <h5 class="card-title">Color Choice #5</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/color_choice_6.png" class="card-img-top" alt="color choice 6">
                    <div class="card-body">
                        <h5 class="card-title">Color Choice #6</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/color_choice_7.png" class="card-img-top" alt="color choice 7">
                    <div class="card-body">
                        <h5 class="card-title">Color Choice #7</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/color_choice_8.png" class="card-img-top" alt="color choice 8">
                    <div class="card-body">
                        <h5 class="card-title">Color Choice #8</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/color_choice_9.png" class="card-img-top" alt="color choice 9">
                    <div class="card-body">
                        <h5 class="card-title">Color Choice #9</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/color_choice_10.png" class="card-img-top" alt="color choice 10">
                    <div class="card-body">
                        <h5 class="card-title">Color Choice #10</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/color_choice_11.png" class="card-img-top" alt="color choice 11">
                    <div class="card-body">
                        <h5 class="card-title">Color Choice #11</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/color_choice_12.png" class="card-img-top" alt="color choice 12">
                    <div class="card-body">
                        <h5 class="card-title">Color Choice #12</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto" id="font-styles">
                <div class="card card-options">
                    <img src="images/Fonts Graphic.png" class="card-img-top"alt="font-styles">
                    <div class="card-body">
                        <h5 class="card-title">Font Styles</h5>
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center mt-3 pb-3">
            <a class="btn btn-primary watch mx-3 px-3" href="/included">What's Included</a>
            <a class="btn btn-primary watch mx-3 px-3" href="/vidPresentation">Watch a Video Presentation</a>
            <a class="btn btn-primary watch mx-3 px-3" href="mailto:lauri@lovelywebdesigns.com?
            subject=Contact">Contact Us</a>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="row pt-sm-3 text-center">
        <div class="col-sm-5 mb-0 text-center">
            <p class="mb-0">© Your Name, 2020, All Rights Reserved</p>
        </div>
        <div class="col-sm-2  icons text-center">
            <a class="email" href="mailto:lauri@lovelywebdesigns.com?
                      subject=Contact">
                      <i class="fas fa-envelope-square"></i></a>
            <a class="facebook" href="https://www.facebook.com/Website4You-107815444467526"><i class="fab fa-facebook px-3"></i></a>
        </div>
        <div class="col-sm-5 text-center">
            <p class="lovely">Website designed and produced by <a href="http://lovelywebdesigns.com/">LovelywebDesigns</a></p>
        </div>
    </div>

</footer>


    <%- include('./partials/footer.ejs') %>
