<%- include('./partials/head.ejs') %>
<body id="bubble-options" style="background: var(--color-four);">
<%- include('./partials/header.ejs') %>

<div class="container options">
    <div class="bubble bubble-options">
        <div class="row">
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/berry.jpeg" class="card-img-top" alt="color choice 1">
                    <div class="card-body">
                        <h5 class="card-title">Berry</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/Rainbow.jpeg" class="card-img-top" alt="color choice 2">
                    <div class="card-body">
                        <h5 class="card-title">Rainbow</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/Easy Going.jpeg" class="card-img-top" alt="color choice 3">
                    <div class="card-body">
                        <h5 class="card-title">Easy Going</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/Dusty.jpeg" class="card-img-top" alt="color choice 4">
                    <div class="card-body">
                        <h5 class="card-title">Dusty</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/Got the Blues.jpeg" class="card-img-top" alt="color choice 5">
                    <div class="card-body">
                        <h5 class="card-title">Got the Blues</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/Trillium.jpeg" class="card-img-top" alt="color choice 6">
                    <div class="card-body">
                        <h5 class="card-title">Trillium</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/Sage.jpeg" class="card-img-top" alt="color choice 7">
                    <div class="card-body">
                        <h5 class="card-title">Sage</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/Greys.jpeg" class="card-img-top" alt="color choice 8">
                    <div class="card-body">
                        <h5 class="card-title">Greys</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/Rust.jpeg" class="card-img-top" alt="color choice 9">
                    <div class="card-body">
                        <h5 class="card-title">Rust</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m-auto">
                <div class="card card-options">
                    <img src="images/Sunrise.jpeg" class="card-img-top" alt="color choice 10">
                    <div class="card-body">
                        <h5 class="card-title">Sunrise</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 m-auto" id="font-styles">
                <div class="card card-options">
                    <img src="images/Fonts Graphic.png" class="card-img-top"alt="font-styles">
                    <div class="card-body">
                        <h5 class="card-title">Font Styles</h5>
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center mt-3 pb-3">
            <a class="btn btn-primary watch m-3 px-3" href="/included">What's Included</a>
            <a class="btn btn-primary watch m-3 px-3" href="/vidPresentation">Watch a Video Presentation</a>
            <a class="btn btn-primary watch m-3 px-3" href="https://www.etsy.com/shop/Website4You">Purchase on Etsy</a>
            <a class="btn btn-primary watch m-3 px-3" href="mailto:lauri@lovelywebdesigns.com?
            subject=Contact">Contact Us</a>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="row pt-sm-3 text-center">
        <div class="col-sm-5 mb-0 text-center">
            <p class="mb-0">© Website4You, 2020-2021, All Rights Reserved</p>
        </div>
        <div class="col-sm-2  icons">
            <a class="email" href="mailto:lauri@lovelywebdesigns.com?
                      subject=Contact">
                      <i class="fas fa-envelope-square"></i></a>
            <a class="facebook" href="https://www.facebook.com/Website4You-107815444467526"><i class="fab fa-facebook"></i></a>
            <a class="instagram" href="https://www.instagram.com/website4you.site/"><i class="fab fa-instagram"></i></a>
            <a class="etsy" href="https://www.etsy.com/shop/Website4You"><i class="fab fa-etsy"></i></a>
        </div>
        <div class="col-sm-5 text-center">
            <p class="lovely">Website designed and produced by <a href="http://lovelywebdesigns.com/">LovelywebDesigns</a></p>
        </div>
    </div>

</footer>


    <%- include('./partials/footer.ejs') %>
