<%- include('./partials/head.ejs') %>
<body id="bubble-uses" style="background: var(--color-four);">
<%- include('./partials/header.ejs') %>

<div class="container uses">
    <div class="bubble bubble-uses text-left p-4">
        <p id="seniors">
            <span class="uses-title">Seniors - </span> Create your legacy by posting photos, both old and new, then record your thoughts, tell stories, share favorite recipes and travel spots, or write your memoir.
        </p>
        <p id="parents">
            <span class="uses-title">Parents - </span> Track your child's growth. Each of your children can have a unique photo album and story section to document both the everyday doings and milestone events in his or her life. Great way for grandparents to stay connected, and show off their family.
        </p>
        <p id="students">
            <span class="uses-title">Students - </span> Show the world your achievements and accomplishments! Add photos of awards and memorable events (but isn't everyday special?). Take pride and publish your school work, or share your creative side.
        </p>
        <p id="travellers">
            <span class="uses-title">Travelers - </span> Share your adventures with the world with both photos and words.
        </p>
        <p id="artists">
            <span class="uses-title">Artists - </span> Make all of our lives more beautiful when you share your masterpieces, both visual and written.
        </p>
        <p id="groups">
            <span class="uses-title">Groups - </span> Comradery will abound when your group can share memories of fun times together. Post photos of activities and let each member tell a story or two.
        </p>
        <p id="memorial">
            <span class="uses-title">For Those who have Lost a Loved One - </span> Memorialize that special person with a website celebrating his or her life. Remember through photos and thoughts, recorded for all to see and appreciate.
        </p>
        <div class="text-center">
            <a class="btn btn-primary watch m-3 px-3" href="/included">What's Included</a>
            <a class="btn btn-primary watch m-3 px-3" href="/vidPresentation">Watch a Video Presentation</a>
            <a class="btn btn-primary watch m-3 px-3" href="https://www.etsy.com/shop/Website4You">Purchase on Etsy</a>
            <a class="btn btn-primary watch m-3 px-3" href="mailto:lauri@lovelywebdesigns.com?
            subject=Contact">Contact Us</a>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="row pt-sm-3 text-center">
        <div class="col-sm-5 mb-0 text-center">
            <p class="mb-0">© Your Name, 2020, All Rights Reserved</p>
        </div>
        <div class="col-sm-2  icons text-center">
            <a class="email" href="mailto:lauri@lovelywebdesigns.com?
                      subject=Contact">
                      <i class="fas fa-envelope-square"></i></a>
            <a class="facebook" href="https://www.facebook.com/Website4You-107815444467526"><i class="fab fa-facebook px-3"></i></a>
            <a class="instagram" href="https://www.instagram.com/website4you.site/"><i class="fab fa-instagram"></i></a>
            <a class="etsy" href="https://www.etsy.com/shop/Website4You"><i class="fab fa-etsy"></i></a>
        </div>
        <div class="col-sm-5 text-center">
            <p class="lovely">Website designed and produced by <a href="http://lovelywebdesigns.com/">LovelywebDesigns</a></p>
        </div>
    </div>

</footer>


    <%- include('./partials/footer.ejs') %>
