.home {
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: var(--font-size-four);
    color: var(--color-three);
}

#title-name {
    font-family: 'Parisienne', cursive;
    color: var(--color-one);
    font-size: var(--font-size-one);
    text-shadow: 1px 1px 2px var(--color-two);
}

footer {
    color: var(--color-four);
    background-color: var(--color-background-four);
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: var(--font-size-ten);
}

footer a {
   color: var(--color-one);
   font-size: var(--font-size-eight);
}

footer a:hover {
    color: var(--color-six);
}

footer .fas, .fab {
    font-size: var(--font-size-five);
    padding-bottom: 10px;
    align-items: flex-start;
    text-shadow: 2px 2px var(--color-two);
}

footer .fas:hover, .fab:hover {
    color: var(--color-six);
}


@media only screen and (max-width: 1200px) {
    #memoji {
        margin-top: 3em;
    }
}

@media only screen and (max-width: 992px) {
    #title-name {
        margin: .5em auto .5em;
        display: flex;
        justify-content: center;
        padding-top: 1em;
        text-shadow: 1px 1px var(--color-two);
    }
    ul.bio-respond {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em auto 5em;
    }
    #memoji {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    footer a {
        color: var(--color-one);
        font-size: var(--font-size-nine);
     }

     footer a:hover {
         color: var(--color-six)
     }

     footer .fas, .fab {
         font-size: var(--font-size-seven);
         padding-bottom: 0px;
         text-shadow: 1px 1px var(--color-two);
     }
}

@media only screen and (max-width: 595px) {
    #title-name {
        font-size: var(--font-size-three);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0em;
    }
}

@media only screen and (max-width: 420px) {
    ul.bio-respond {
        display: flex;
        align-items: flex-start;
        margin-left: 1.5em;
    }
}