.included {
    /* min-height: calc(100vh - 60px); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% auto 8% auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: var(--font-size-four);
    color: var(--color-four);
}

.bubble-included {
	height: auto;
	width: 70%;
	min-width: 900px;
	background: var(--color-five);
    display: block;
    margin: auto;
    margin-top: none;
	border-radius: 20px;
	font-size: .9em;
    text-align: center;
    box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.2),
      -12px -12px 10px rgba(0, 0, 0, 0.2);
}

.included-title {
    font-size: 1.2em;
}

p.included-title span {
    color: var(--color-one);
    font-size: 1.4em;
    font-style: normal;
    line-height: 1em;
}

.included span {
    color: var(--color-three);
    font-size: 1.2em;
    font-style: oblique;
}

p.section {
    margin-bottom: 0rem;
}

p.price {
    color: var(--color-one);
    font-size: 1.4em;
    font-style: oblique;
    font-weight: bold;
}

p.purchase {
    color: var(--color-three);
    font-weight: 500;
}

.price-box {
    border: 2px solid var(--color-one);
    border-radius: 8px;
    margin-top: 1em;
    margin-bottom: 2em;
}

footer {
    color: var(--color-four);
    background-color: var(--color-background-four);
    width: 100%; 
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: var(--font-size-ten);
}

footer a {
   color: var(--color-one); 
   font-size: var(--font-size-eight);
}

footer a:hover {
    color: var(--color-six);
}

footer .fas, .fab {
    color: var(--color-one); 
    font-size: var(--font-size-five);
    padding-bottom: 10px;
    align-items: flex-start;
    text-shadow: 2px 2px var(--color-two);
}

footer .fas:hover, .fab:hover {
    color: var(--color-six);
}


@media only screen and (max-width: 1030px) {
    div.bubble.bubble-included  {
        margin: 4em auto 5em;
    }
}

@media only screen and (max-width: 992px) {
    div.bubble.bubble-included  {
        min-width: 700px;
        margin-top: 2em;
    }
    footer a {
        color: var(--color-one); 
        font-size: var(--font-size-nine);
     }
     footer a:hover {
         color: var(--color-six)
     }
     
     footer .fas, .fab {
         font-size: var(--font-size-seven);
         padding-bottom: 0px;
         text-shadow: 1px 1px var(--color-two);
     }
}

@media only screen and (max-width: 768px) {
    div.bubble.bubble-included  {
        min-width: 550px;
    }
    .watch {
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 600px) {
    div.bubble.bubble-included {
        min-width: 480px;
        font-size: .8em;
        margin-top: 1em;
    }
}

@media only screen and (max-width: 500px) {
    div.bubble.bubble-included {
        min-width: 350px;
    }
}
@media only screen and (max-width: 330px) {
    div.bubble.bubble-included {
        min-width: 230px;
        font-size: .7em;
    }
}


