.album-row {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 1rem;
}

.form-item-album {
  display: flex;
  flex-direction: column;
  margin: auto 2rem;
  flex-grow: 1;
  flex-basis: 0;
  width: 50%;
  margin: auto;
}

.album-name {
  font-size: 1.5rem;
  color: var(--color-three);
}

.form-album, .form-album-search {
  width: 50%;
  margin: auto auto 8em auto;
}

.form-item {
  color: var(--color-four);
}

.btn-album {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em;
}

.btn-album-view {
  margin-right: 1em;
  margin-left: 1em;
}

.btn-album-create , .btn-album-cancel {
  margin-right: 2em;
}

.btn-album-new-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
}


.btn-album-search {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1024px) {
  .form-item-album {
    width: 90%;
  }
  .form-album, .form-album-search {
    width: 90%;
    margin: auto;
  }
}
