body {
    padding-top: 75px;  
   }
   
   .scroll {
    height: 60px;  
    overflow: hidden;
    position: relative;
   }
   
   .scroll h3 {
    font-size: 2em;
    color: var(--color-one);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 60px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);    
    transform:translateX(100%);
    /* Apply animation to this element */  
    -moz-animation: scroll 15s linear infinite;
    -webkit-animation: scroll 15s linear infinite;
    animation: scroll 15s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes scroll {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes scroll {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);       
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
   }